{% extends "polls/base.html"%}
{% block content%}

    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>By {{ post.author}} on {{post.date_posted}}</p>
    <p>{{post.content}}</p>
    {% endfor %}

{% endblock content %}
