<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h1>Carne</h1>

    <p>

        <img src="/static/perfil.jpg" align="left">
        {% for post in data %}
        <h2> {{ post.alias }}</h2>
        <h2> {{ post.universidad }}</h2>
        <h2> {{ post.status }}</h2>
        <h2> {{ post.nombre }} , DPI:  {{post.dpi}}</h2>
        <h2> {{ post.hora }}</h2>
        {% endfor %}

    </p>
</body>
</html>